.wrapper {
    width: 100%;
    position: relative;

    .icon {
        color: #374151;
        position: absolute;
        top: 1.25rem; 
        left: 0.5rem; 
    }

    .input {
        width: 100%;
        padding: 1.5rem;
        //padding-top: 1.5rem;
        font-weight: 300;
        background-color: white;
        border: 2px solid #d1d5db;
        border-radius: 0.375rem;
        outline: none;
        padding-left: 1rem;
        transition: border-color 150ms ease-in-out, padding-left 150ms ease-in-out;

        &.formatPrice {
            padding-left: 2.25rem;
        }

        &.errors {
            border-color: #f43f5e;
        }

        &.disabled {
            opacity: 70%;
            cursor: not-allowed;
        }

        &:focus {
            border-color: black;

            &.errors {
                border-color: #f43f5e;
            }
        }
    }
}