.Nav-bar-item {
    position: relative;
    border-radius: 40px;
    padding: 1rem 1.6rem;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    display: none;
    cursor: pointer;
    text-align: center;
    color: #6A6A6A;

    @media (min-width: 1280px) {
        display: inline-block;
    }

    &:hover {
        background-color: #F7F7F7;
    }

    &.selected {
        color: #262626;
    }
}