.wrapper {
    width: 100%;
    background: white;

    .contain {
        overflow: visible;
        display: flex;
        height: auto;
        flex-direction: column;
        width: 100%;  
        align-items: center;

        .title {
            width: 650px;
            margin-bottom: 24px;
            margin-top: 16px;
        }

        .list {
            width: 650px;
        }
    }
}