.wrapper {
    width: 100%;
    background: white;

    .contain {
        overflow: visible;
        display: flex;
        height: auto;
        flex-direction: row;
        width: 100%;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 50vw;
            height: 100%;
            max-width: 700px;
            margin-right: 48px;

            h1 {
                font-weight: 600;
                font-size: 3.6rem;
                line-height: 4.0rem;
                color: #222222;

                @media (max-width: 768px) {
                    font-size: 5.6rem;
                    line-height: 6.5rem;
                    max-width: 514px;
                }
            }
        }

        .step-list {
            display: flex;
            flex-direction: column;
            margin-top: 8px;
            justify-content: center;

            @media (min-width: 744px) {
                margin-top: 0;
                flex-grow: 0;
                width: 50vw;
                max-width: 600px;
            }

            .step {
                display: flex;
                flex-direction: row;
                padding-top: 40px;
                padding-bottom: 40px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                @media (min-width: 744px) {
                    padding-top: 32px;
                    padding-bottom: 32px;
                }

                .number {
                    padding-right: 12px;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    color: #222222;
                    font-weight: 600;

                    @media (min-width: 744px) {
                        padding-right: 16px;
                        font-size: 2.2rem;
                        line-height: 2.6rem;
                    }
                }

                .text {
                    margin-right: 12px;
                    display: flex;
                    flex-direction: column;

                    @media (min-width: 744px) {
                        margin-right: 16px;
                        max-width: 448px;
                    }

                    h2 {
                        margin-bottom: 4px;
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                        color: #222222;
                        font-weight: 600;
                        
                        @media (min-width: 744px) {
                            margin-bottom: 8px;
                            font-size: 2.2rem;
                            line-height: 2.6rem;
                        }
                    }

                    h3 {
                        color: #6A6A6A;
                        font-weight: 425;
                        font-size: 1.4rem;
                        line-height: 1.8rem;

                        @media (min-width: 744px) {
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                        }
                    }
                }
            }
        }
    }
}